# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
env/

# Packaging
*.egg-info/
dist/
build/

# Tests / tools
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
